.first {
  background-color: #e8ef97
}
.infor {
  color: #dc173a
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td {
  font-weight: bold;
  font-size: 20px;;
}
.history_color {
  background-color: #dcf8d9
}
.home_vue {
  background: #a8e0e0;}
.first_rank {
  background-color: #f7ff00
}

.second_rank {
  background-color: #11ff00
}

.third_rank {
  background-color: #e9ece9
}
.title{
  color: #f11062;
  font-size: 160px
}
.back_ground{
background-color: #f0dbfd
}
.table{
   text-align: center
}
.test{
  background-color: #dc173a;
}
.select {
      max-width: 120px;
      max-height: 80px;
      font-size: 20px;
      margin: auto;
    }
.cursor
{
    cursor: pointer;
}
