.first {
  background-color: #e8ef97
}
.infor {
  color: #dc173a
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td {
  font-weight: bold;
  font-size: 20px;;
}
.history_color {
  background-color: #dcf8d9
}
.home_vue {
  background: #e5f0ff;}
.first_rank {
  background-color: #f7ff00
}

.second_rank {
  background-color: #11ff00
}

.third_rank {
  background-color: #e9ece9
}
.title{
  color: #f11062;
  font-size: 160px
}
.matching{
background-color: #fdfdfd
}
.table{
   text-align: center
}
.chooseMatch{
  background-color: #ecffea;
}
.select {
      max-width: 120px;
      max-height: 50px;
      font-size: 20px;
      margin: 0.01px;

    }
.cursor
{
    cursor: pointer;
}
.header_table{
  font-size: large;
  color: black;
}
 .disabled {
      pointer-events:none;
      color: #90b1f5;
      cursor: not-allowed;
      background-image: none;
    }
.color_team{
  color: #ef0530;
}
.math_number_color{
  color: black ;
}
.click_check{
  background-color: #428bf6;
}
